<ion-view>
      <ion-header-bar class="bar-positive">
        <h1 class="title">Welcome</h1>
      </ion-header-bar>
      <ion-content class="center">
           <div class="row">
			<div class="col">
				<a href="#/photos"class="button button-block button-calm">
					Photos
				</a>
			</div>
  
			</div>

			<div class="row">
				<div class="col">
					<a a href="#/orders" class="button button-block button-calm">
						Order
					</a>
				</div>
  
			</div>
       </ion-content>
</ion-view>